<h3><%=@song.title%></h3>
Artist : <%=@song.artist_name%><br>
Release Year : <%=@song.release_year%><br>
Genre : <%=@song.genre%>
<br/><br/>

<%=link_to "Edit this song", edit_song_path%>
<%=link_to "All Songs", songs_path%>